.gallery {
    width: 100%;
}

.gallery-container {
    align-items: center;
    display: flex;
    height: 300px;
    margin: 0 auto;
    max-width: 900px;
    position: relative;
    transition: transform 0.5s ease;
}

.gallery-item {
    height: 240px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 330px;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
    filter: blur(1px);
}

.gallery-item-1 {
    left: 15%;
    opacity: 0.4;
    transform: translateX(-50%);
}

.gallery-item-1 {
    height: 250px;
    opacity: 0.8;
    width: 380px;
    z-index: 1;
}

.gallery-item-2 {
    height: 300px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    z-index: 2;
    filter: none;
}

.gallery-item-3 {
    left: 85%;
    opacity: 0.6;
    transform: translateX(-50%);
}

/* Arrow Style */
.gallery-controls-next,
.gallery-controls-previous {
    border: none;
    background: transparent;
    font-size: 40px;
    color: grey;
    display: flex;
    cursor: pointer;
}

.gallery-controls-next {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.gallery-controls-previous {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.prev-next {
    display: flex;
    gap: 1000px;
    margin-top: -158px;
    margin-left: -105px;
}
.para {
    justify-content: center;
    align-items: center;
    z-index: 100;
    margin: auto;
    color: black;
    margin-top: 320px;
    background-color: #f0f4fa;
    padding: 7px 12px;
    font-size: 14px;
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 50px;
    cursor: pointer;
}