.sidebar {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background: -webkit-linear-gradient(16deg, #ff554647, #4b90ffad);
    padding: 25px 15px;
}
.sidebar img {
    width: 20px;
    /*filter: brightness(0) invert(0);*/
}
.sidebar .menu {
    display: block;
    margin-left: 10px;
    cursor: pointer;
    width: 25px;
}
.sidebar .new-chat {
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 7px 12px;
    background-color: white;
    color: grey;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
}
.sidebar .recent {
    display: flex;
    flex-direction: column;
}
.sidebar .recent-title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
}
.sidebar .recent-entry:hover{
    background-color: #e2e6eb;
}
.sidebar .bottom {
    display: flex;
    flex-direction: column;
}
.sidebar .bottom-item {
    padding-right: 10px;
    cursor: pointer;
}